<ion-header [translucent]="true">
  <ion-toolbar class="entete">
    <!-- pour changer l'en-tete de l'aplication -->
    <ion-title> To-do </ion-title>

    <!-- un bouton a droite -->
    <ion-button (click)="onOpen()" slot="end" shape="round" class="ajouter">

      <!-- un icon : + -->
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">

  <!-- lister mes taches avec -->
  <ion-list class="list">
    <!-- entete de la liste -->
    <ion-list-header> Mes taches </ion-list-header>

    <!-- division classic de HTML -->
    <div class="aucun" *ngIf="tache.length<1">
      Vous avez aucune tache à faire
    </div>

    <!-- une carte a l'interieur de la list -->
    <ion-card class="un-tache" *ngFor="let t of tache, let i = index" >
      <!-- un checkbox de capacitor -->
      <ion-checkbox [checked]="t.isCheck" (change)="onCheck($event, i)"></ion-checkbox>

      <!-- un titre classic de HTML -->
      <h4 class="nomTache" *ngIf="!t.isCheck">{{ t.nom}}</h4>
      <h4 class="nomTache"*ngIf="t.isCheck" style="background: red; text-decoration: line-through;">{{ t.nom}}</h4>

      <!-- un bouton capacitor
        => expand=block : display block
        => fill="clear" : supprimer la background
        => shape="round" : forme arrondi
        => color="danger" : couleur de background (de text si fill="clear")
      -->
      <ion-button
        (click)="onSupprTask(i)"
        expand="block"
        shape="round"
        color="danger"
      >
        <ion-icon name="trash"></ion-icon>
        <!-- pour name, voir : http://ionicframework.com->overview->icons -->
        Supprimer
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>

<!-- ajouter un footer : c'est très pratique pour une application mobile -->
<ion-footer *ngIf="isOpen">
  <!-- spécifier son espace -->
  <ion-toolbar class="pied">
    <!-- un champ de texte - capacitor -->
    <ion-input placeholder="Entrer une nouvelle tache" [(ngModel)]="newTache"></ion-input>

    <!-- un bouton -->
    <ion-button (click)="onAjouter()" slot="end" shape="round">

      <!-- un icon : + -->
      <ion-icon name="add-circle"></ion-icon>
      ajouter
    </ion-button>
  </ion-toolbar>
</ion-footer>

<!--  -->
